<% include ../partials/header %>
  <div class="container">
      <div class="contentrow">
          <% result.forEach(function(product) { %> 
          <div class="im">
           <img src="/<%= product.image_url %>" class="pimage" class="filterDiv hover sun orange">
          </div>
        <div class="info">
             <p><b>Title:</b><%= product.title %></p>
             <p><b>Price: €</b><%= product.price %></p>
             <p><b>Size:</b><%= product.size %></p>
             <p><b>Description: </b><%= product.activity %></p><br>
             
             <a href="/login" id="more" class="button">Login to proceed</a> 
        </div>
        
         <% }); %>
        
        </div>
        
   

<script>
// $(document).ready(function(){
//  $('#more').click(function(){
//   var productId = getProductId();
//   console.log(productId);
//  });
//  function getProductId()
//  {
//  var productId= window.location.pathname.substr(9,6);
//  }
// })




$(document).ready(function(){
    $("#more").click(function(){
        var productId = getProductId();
        console.log(productId);
        var url = "/cart/addCart";
        $.ajax({
            url:url,
            data:{paintid:productId},
            type:'post',
            dataType:'json',
            success:function(data)
            {
                if(data == "1")
                {
                    alert("Added to cart successfully！");
                    $("#more").hide();
                }
            },
            error:function(err)
            {
                window.location.href = "/login";
            }
        })
    });
    function getProductId()
    {
        var productId = window.location.pathname.substr(9,6);  //  to get productId
        return productId;

    }
})

</script>
    
     </div>
   
 <% include ../partials/footer %>