<% include ../partials/loginheader %>

<div class="wrap">

         <div class="title"> 
                <h2>Profile </h2>
        </div> 
         <div class="titleinfo"> 
                <span>User Details</span>
         </div>
    
         <div class="containercontent">
                <p><strong class="itemp">User ID: </strong><%= user.Id %></p>
                <p><strong class="itemp">User Name: </strong><%= user.username %>
                <button class="submit"><a href="/editprofile/<%= user.Id %>">Edit</a></button></p>
                <p><strong class="itemp">User Email: </strong><%= user.email %>
                <button class="submit"><a href="/editprofile/<%= user.Id %>">Edit</a></button></p>
                <p><strong class="itemp">Password: </strong><%= user.password %>
                <button class="submit"><a href="/editprofile/<%= user.Id %>">Edit</a></button></p><br><br><br>
      
        </div>
        
</div>

<% include ../partials/footer %>